extends layout

block content
  .w3-container
    if locals.user
     .w3-card-4
       h1 Welcome #{user.nickname}
    else
      h4 Keep all of your travel information in one place! Please #[a(href="/login") Log In/Sign Up] to continue.
